@mixin onCircle($item-count, $circle-size, $item-size) {  
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    border-radius: 50%;
    padding: 0; 
    list-style: none;
    
    > * {
        display: block;
        position: absolute;
        top:  50%; 
        left: 50%;
        margin: -($item-size / 2);
        width:  $item-size;
        height: $item-size;
        
        $angle: (360 / $item-count);
        $rot: 0;

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
            }

            $rot: $rot + $angle;
        }
    }
}
  

.Slide {
    background: linear-gradient(-60deg, 
                                darken($blue-7,5) 0%,
                                $blue-7 20%, darken($blue-7,5) 20%, 
                                $blue-7 40%, darken($blue-7,5) 40%,
                                $blue-7 60%, darken($blue-7,5) 60%,
                                $blue-7 80%, darken($blue-7,5) 80%,
                                $blue-7 100%, darken($blue-7,5) 100%
                            );
    color: $dark-color;
    // height: 350px;
    position: relative;
    padding: 4rem 0;
    text-align: center;
    &-bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.05;
    }
    &-title {
        color: white;
        font-size: 2rem;
    }
    &-data{
        max-width: 700px;
        position: relative;
        z-index: 5;
    }
    &-text{
        color: white;
    }
}

.BannerHome{
    padding: 32px 0;
    background: $body-bg-alt;
    &-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;    
    }
    &-title{
        font-weight: normal;
        font-size: 2rem;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            top: -20px;
            left: 0;
            height: 3px;
            width: 40px;
            background: $first-color;
        }
        div{
            font-weight: bold;
        }
    }
}

.Modules{
    // background: $body-bg-alt;
    padding: 64px 0;


    &-title {
        margin: 0 0 32px;
        text-align: center;
    }
}

.Module{
    min-height: 200px;
    border: 1px solid $border-color;
    background: $body-bg-alt;
    padding: 32px 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            display: block;
            width: 64px;
        }
    }
}

@import "instance";