// @mixin onCircle($item-count, $circle-size, $item-size) {  
//     position: relative;
//     width:  $circle-size;
//     height: $circle-size;
//     border-radius: 50%;
//     padding: 0; 
//     list-style: none;
    
//     > * {
//         display: block;
//         position: absolute;
//         top:  50%; 
//         left: 50%;
//         margin: -($item-size / 2);
//         width:  $item-size;
//         height: $item-size;
        
//         $angle: (360 / $item-count);
//         $rot: 0;

//         @for $i from 1 through $item-count {
//             &:nth-of-type(#{$i}) {
//                 transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
//             }

//             $rot: $rot + $angle;
//         }
//     }
// }
  

.Slide {
    background: linear-gradient(-60deg, 
                                darken($blue-7,5) 0%,
                                $blue-7 20%, darken($blue-7,5) 20%, 
                                $blue-7 40%, darken($blue-7,5) 40%,
                                $blue-7 60%, darken($blue-7,5) 60%,
                                $blue-7 80%, darken($blue-7,5) 80%,
                                $blue-7 100%, darken($blue-7,5) 100%
                            );
    color: $dark-color;
    // height: 350px;
    position: relative;
    padding: 5rem 0;
    text-align: center;
    &-bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.05;
    }
    &-title {
        color: white;
        font-size: 2rem;
    }
    &-data{
        max-width: 700px;
        position: relative;
        z-index: 5;
    }
    &-text{
        color: white;
    }
}

.BannerHome{
    padding: 32px 0;
    background: var(--snColorDark);
    color: var(--snColorDarkInverse);

    &-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;    
    }
    &-title{
        font-weight: normal;
        font-size: 2rem;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            top: -20px;
            left: 0;
            height: 3px;
            width: 40px;
            background: $first-color;
        }
        div{
            font-weight: bold;
        }
    }
}

.SnVideoOverlayBtn{
    background: var(--snColor1);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    margin: 3rem auto auto;
    animation: pulseBorder 1500ms ease-out infinite;
    &::before{
        content: "";
        display: block;
        border-left: 27px solid white;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;

        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
    }
    @keyframes pulseBorder {
        0% {
            box-shadow: 0 0 0 0 var(--snColor1);
        }
        100% {
            box-shadow: 0 0 0 15px transparent;
        }
    }
}

.SnVideoOverlay{
    position: fixed;
    z-index: 999;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    padding: 1rem;
    &.show{
        background: rgba(#000,.5);
        opacity: 1;
        pointer-events: all;
    }
    &-content{
        margin: auto;
        max-width: 600px;
    }
}

@import "instance";