.Slide {
    background: $dark-bg;
    color: $dark-color;
    padding: 4rem 0;
    text-align: center;
    &-title {
        color: white;
        font-size: 2rem;
    }
    .Container {
        max-width: 700px;
    }
}

.BannerHome{
    padding: 32px 0;
    border-top: 1px solid $border-color;
    background: $body-bg-alt;
}

.Instances {
    padding: 64px 0;
   border-top: 1px solid $border-color;
    &-title {
        margin: 0 0 32px;
        text-align: center;
    }
    &-content {
        justify-items: center;
    }
}

.Instance {
    // width: 100$;
    min-height: 200px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            display: block;
            width: 80px;
        }
    }
    &-desc{
        color: $text-color-alt;
        margin-top: 0;
    }
}

.Modules{
    // background: $body-bg-alt;
    border-top: 1px solid $border-color;
    padding: 64px 0;
    &-title {
        margin: 0 0 32px;
        text-align: center;
    }
}

.Module{
    min-height: 200px;
    border: 1px solid $border-color;
    background: $body-bg-alt;
    padding: 32px 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            display: block;
            width: 64px;
        }
    }
}
