.tns-outer{
    position: relative;
    [data-controls="prev"],
    [data-controls="next"]{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    [data-controls="prev"]{
        left: 0;
    }
    [data-controls="next"]{
        right: 0;
    }
    & > button{
        display: none;
    }

    .tns-nav{
        position: absolute;
        left: 50%;
        top: 1rem;
        z-index: 2;
        transform: translate(-50%,-50%);
        button{
            // width: 5px;
            height: 5px;
            opacity: .5;
            border: 0;
            background: var(--snColor1);
            // border-radius: 50%;
            margin: 0 3px;
        }
    }
}