.Button {
    --buttonBorderColor: var(--first-color);
    --buttonBgColor: transparent;
    --buttonTextColor: var(--first-color);

    // display: inline-block;
    // font-size: 0.85em;
    // line-height: 1.8em;
    // padding: 4px 1rem;
    // margin: 0 1rem 1rem 0;
    // border-radius: 5px;
    // text-decoration: none;

    // background: var(--buttonBgColor);
    // border: 1px solid var(--buttonBorderColor);
    // color: var(--buttonTextColor);

    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;


    &.Primary {
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
        &:hover {
            background-color: #40a9ff;
            border-color: #40a9ff;
        }
        &:focus,
        &:active {
            background-color: #096dd9;
            border-color: #096dd9;
        }
    }

    &.small {
        padding: 0 1rem;
    }
    &.large {
        padding: 8px 1rem;
    }

    &.blue {
        --buttonBgColor: var(--first-color);
        --buttonTextColor: white;
        &:hover {
            color: white;
        }
    }
    &.white {
        --buttonBgColor: white;
        --buttonBorderColor: white;
        --buttonTextColor: var(--first-color);
    }
    &.apple {
        --buttonBgColor: #fafafa;
        --buttonBorderColor: #fafafa;
        --buttonTextColor: #333333;
        &:hover {
            color: var(--buttonTextColor);
        }
    }
    &.orange {
        --buttonBgColor: #e95420;
        --buttonBorderColor: #e95420;
        --buttonTextColor: white;
        &:hover {
            color: var(--buttonTextColor);
        }
    }
    &.green {
        --buttonBgColor: #1da362;
        --buttonBorderColor: #1da362;
        --buttonTextColor: white;
        &:hover {
            color: var(--buttonTextColor);
        }
    }
    &.black {
        --buttonBgColor: black;
        --buttonBorderColor: black;
        --buttonTextColor: white;
    }
    &.assent {
        --buttonBgColor: var(--accent-color);
        --buttonBorderColor: var(--accent-color);
        --buttonTextColor: #1b1200;
        &:hover {
            color: white;
        }
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
