extends ../layout

block content
    include blocks/menu
    .Container
        .SiteTitle
            h1.SiteTitle-title Admisión
        #AdmissionSlide
            .Slide-item
                img(src="/images/slide1.jpg", alt="")
            .Slide-item 2
                img(src="/images/slide2.jpg", alt="")
