extends ../layout

block content
    include blocks/menu
    .Container
        .SiteTitle
            h1.SiteTitle-title Admisión
        #AdmissionSlide
            .Slide-item
                img(src="/images/slide1.jpg", alt="")
            .Slide-item 2
                img(src="/images/slide2.jpg", alt="")
        .Admision.Grid.s-2.m-3
            .Admision-item
                h3 Calendario de actividades
            if preAdmission.success
                .Admision-item
                    each item, index in preAdmission.data
                        a(href="/admision/postular/"+item.id)
                            h4= item.pre_description
                            p Pre-Inscripciones desde el 
                                span= item.pre_start_date
                                |  al 
                                span= item.pre_end_date
            else
                p= preAdmission.message

