extends ../layout

block content
    include blocks/menu
    .Main-content
        .Card
            .SiteHeader
                h1.SiteHeader-title Registro de postulante
                .SiteHeader-subTitle Preinscripcion
            form(action="").Form.horizontal#preAdmission
                .Form-item
                    label(for="dni").Form-label.required DNI
                    input(type="text" name="dni" required)#dni.Form-input
                .Form-item
                    label(for="full_name").Form-label.required Apellidos y Nombres
                    input(type="text" name="full_name" required)#full_name.Form-input
                .Form-item
                    label(for="birth_date").Form-label.required Fecha de nacimiento
                    input(type="date" name="birth_date" required)#birth_date.Form-input
                .Form-item
                    label(for="email").Form-label.required Email
                    input(type="email" name="email" required)#email.Form-input
                .Form-item
                    label(for="gender").Form-label.required Sexo
                    input(type="text" name="gender" required)#gender.Form-input
                .Form-item
                    label(for="birth_place").Form-label Lugar de nacimiento
                    input(type="text" name="birth_place")#birth_place.Form-input
                .Form-item
                    label(for="district").Form-label Distrito
                    input(type="text" name="district")#district.Form-input
                .Form-item
                    label(for="province").Form-label Provincia
                    input(type="text" name="province")#province.Form-input
                .Form-item
                    label(for="region").Form-label Región
                    input(type="text" name="region")#region.Form-input
                .Form-item
                    button(type="submit").Button.Primary Enviar
            script.
                let form = document.getElementById('preAdmission');
                form.addEventListener('submit',e=>{
                    e.preventDefault();

                    // Opteniendo los datos del formulario
                    const formData = new FormData(e.target);

                    // Convertiendo en formato JSON
                    const data = Array.from(formData.entries()).reduce((memo, pair) => ({
                        ...memo,
                        [pair[0]]: pair[1],
                    }), {});

                    // Enviar datos
                    console.log(data);
                })
