.AdmissionMenu-container
    .Container
        ul.Menu.AdmissionMenu
            li.Menu-item
                a(href="/admision") Principal
            li.Menu-item
                a(href="/admision/programas") Programas de estudio
            li.Menu-item
                a(href="/admision/modalidades") Modalidades de admisión
            li.Menu-item
                a(href="/admision/resultados") Resultados de examenes
            li.Menu-item
                a(href="/admision/estadisticas") Estadisticas
