extends layout
block content
    section.Slide
        img(src="/images/slide1.jpg", alt="").Slide-bg
        .Container.Slide-data
            img(src="/images/web.svg", alt="logo" width="80")
            h1.Slide-title Centro de Cómputos IESTP
            p.Slide-text El Centro de Cómputos IESTP abre sus puertas a toda la comunidad del instituto y público en general a través de su portal web, asumiendo un nuevo desafío: brindar información para servir
    section.Instances
        .Container.Grid.m-2
            .Instances-left
                //- article.Instance
                //-     img(src="/images/web.svg", alt="logo").Instance-img
                //-     h3.Instance-title Api
                .Instances-left-content
                    article.Instance
                        a(href="http://administracion.iestpvilcanota.com" target="_blanck").Instance-action
                            img(src="/images/web.svg", alt="logo").Instance-img
                            h3.Instance-title Web Site
                    article.Instance
                        a(href="http://administracion.iestpvilcanota.com" target="_blanck").Instance-action
                            img(src="/images/web.svg", alt="logo").Instance-img
                            h3.Instance-title Computo
                    article.Instance
                        a(href="http://administracion.iestpvilcanota.com" target="_blanck").Instance-action
                            img(src="/images/web.svg", alt="logo").Instance-img
                            h3.Instance-title Admin
                    article.Instance
                        a(href="http://profesor.iestpvilcanota.com" target="_blanck").Instance-action
                            img(src="/images/web.svg", alt="logo").Instance-img
                            h3.Instance-title Profesor
                    article.Instance
                        a(href="http://alumno.iestpvilcanota.com" target="_blanck").Instance-action
                            img(src="/images/student.svg", alt="logo").Instance-img
                            h3.Instance-title Alumno
            .Instances-right
                h2.Instances-title Instancias
                    div Web
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga quas dolore, minus adipisci suscipit veniam sit quis cupiditate corporis aspernatur, nulla nobis? A amet sed illo ratione impedit! Ipsum.
                //- a(href="").Button.primary Documentacion
    section.BannerHome
        .Container.Grid.m-2
            .BannerHome-left
                h2.BannerHome-title Sistema Institucional 
                    div Web
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt fuga quas dolore, minus adipisci suscipit veniam sit quis cupiditate corporis aspernatur, nulla nobis? A amet sed illo ratione impedit! Ipsum.
                a(href="").Button.primary Documentacion
            .BannerHome-right
                img(src="/images/dashboard.png", alt="banner")
    section.Modules
        .Container
            h2.Modules-title Modulos
            .Modules-content.Grid.s-2.m-3.l-4.lg-5
                article.Module
                    .Module-header
                        img(src="/images/admission.svg", alt="logo")
                        h3 Admisión
                        p Sistema de admision, con conexion configurable de reniec y banco de la nacion. admision, examenes y CBT.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/review.svg", alt="logo")
                        h3 Revisión
                        p Revision de practicas modulares y listado de empresas con sus correspondientes convenios.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/certification.svg", alt="logo")
                        h3 Certificación
                        p Certificacion de los modulos, titulaciones, cursos, encuestas y diplomados que brinda la IESTP
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/librarie.svg", alt="logo")
                        h3 Biblioteca
                        p Biblioteca virtual administracion de libros mediante archivos PDF
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/monitoring.svg", alt="logo")
                        h3 Monitoreo
                        p Cuestionarios, Encuesta y diplomados en tiempo real de todo los estudiantes.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/chat.svg", alt="logo")
                        h3 Red
                        p Intranet de comunicacion chat, calendario, agenda y notificaciones para toda comunidad del instituto.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Web Site
                        p Sitio web conectado con el centro de computo para brindar informacion al publico en general.
                    .Module-actions

