extends layout
block content
    section.Slide
        .Container
            h1.Slide-title Centro de Cómputos IESTP
            p.Slide-content El Centro de Cómputos IESTP abre sus puertas a toda la comunidad del instituto y público en general a través de su portal web, asumiendo un nuevo desafío: brindar información para servir
    section.Modules
        .Container
            h2.Modules-title Modulos
            ul.Modules-list.Grid.s-2.m-3.l-4.lg-5.xl-6
                li
                    a(href="http://").Modules-item
                        img(src="/images/web.svg", alt="logo")
                        span Director@
                li
                    a(href="http://").Modules-item
                        img(src="/images/web.svg", alt="logo")
                        span Departamento Academico
                li
                    a(href="http://").Modules-item
                        img(src="/images/web.svg", alt="logo")
                        span Cordinador
                li
                    a(href="http://").Modules-item
                        img(src="/images/web.svg", alt="logo")
                        span Profesor
                li
                    a(href="http://").Modules-item
                        img(src="/images/web.svg", alt="logo")
                        span Alumno
