extends layout
block content
    section.Slide
        .Container
            h1.Slide-title Centro de Cómputos IESTP
            p.Slide-content El Centro de Cómputos IESTP abre sus puertas a toda la comunidad del instituto y público en general a través de su portal web, asumiendo un nuevo desafío: brindar información para servir
    section.Instances
        .Container
            h2.Instances-title Instancias
            .Instances-content.Grid.s-2.m-3.l-4
                article.Instance
                    .Instance-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Administrativo
                        p.Instance-desc para todo el departamento academico de la institucion.
                    .Instance-actions
                        a(href="http://administracion.iestpvilcanota.com" target="_blanck").Button.primary Ingresar
                article.Instance
                    .Instance-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Coordinador
                        p.Instance-desc para todo los cordinadores de cada programa de estudios.
                    .Instance-actions
                        a(href="http://coordinador.iestpvilcanota.com" target="_blanck").Button.primary Ingresar
                article.Instance
                    .Instance-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Profesor
                        p.Instance-desc Para todo los profesores que laboran en la institucion.
                    .Instance-actions
                        a(href="http://profesor.iestpvilcanota.com" target="_blanck").Button.primary Ingresar
                article.Instance
                    .Instance-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Alumno
                        p.Instance-desc para todo los estudiantes postulantes, regulares y egresados.
                    .Instance-actions
                        a(href="http://alumno.iestpvilcanota.com" target="_blanck").Button.primary Ingresar
    section.BannerHome
        .Container
            img(src="/images/slide1.jpg", alt="banner")
    section.Modules
        .Container
            h2.Modules-title Modulos
            .Modules-content.Grid.s-2.m-3.l-4.lg-5
                article.Module
                    .Module-header
                        img(src="/images/admission.svg", alt="logo")
                        h3 Admisión
                        p Sistema de admision, con conexion configurable de reniec y banco de la nacion. admision, examenes y CBT.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/review.svg", alt="logo")
                        h3 Revisión
                        p Revision de practicas modulares y listado de empresas con sus correspondientes convenios.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/certification.svg", alt="logo")
                        h3 Certificación
                        p Certificacion de los modulos, titulaciones, cursos, encuestas y diplomados que brinda la IESTP
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/librarie.svg", alt="logo")
                        h3 Biblioteca
                        p Biblioteca virtual administracion de libros mediante archivos PDF
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/monitoring.svg", alt="logo")
                        h3 Monitoreo
                        p Cuestionarios, Encuesta y diplomados en tiempo real de todo los estudiantes.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/chat.svg", alt="logo")
                        h3 Red
                        p Intranet de comunicacion chat, calendario, agenda y notificaciones para toda comunidad del instituto.
                    .Module-actions
                article.Module
                    .Module-header
                        img(src="/images/web.svg", alt="logo")
                        h3 Web Site
                        p Sitio web conectado con el centro de computo para brindar informacion al publico en general.
                    .Module-actions

