extends layout
block content
    section
        .Container
            h1 Procesos
            ul
                li
                    a(href="/admision") Admisión
                li
                    a(href="/matriculas") Matricula
