extends layout
block content
    section
        .Container
            .SiteTitle
                h1.SiteTitle-title Procesos
            ul
                li
                    a(href="/admision") Admisión
                li
                    a(href="/matriculas") Matricula
